Repository cisagov/cool-assessment-terraform, pull requests merged in 2020-10, with the labels that each got.

#66 Allow the operations subnet access to port 50050 on the teamservers
  operations_acl_rules.tf
  operations_sg_rules.tf
Labels: bugfix

#69 Upgrade to version 3 of Terraform AWS provider
  README.md
  versions.tf
Labels: enhancement

#70 Automate association of assessment VPC with Shared Services private DNS zone
  provisionassessment_policy.tf
  route53.tf
Labels: enhancement, hacktoberfest-accepted

#72 Automate disassociation of the transit gateway attachment and transit gateway default route table
  README.md
  locals.tf
  transitgateway.tf
  versions.tf
  vpc.tf
Labels: enhancement

#76 Allow ingress from Kali instances to Pentest Portal instances via port 8080
  pentestportal_sg_rules.tf
Labels: enhancement

#77 Bump up the instance type for Kali instances so they have more RAM
  kali_ec2.tf
Labels: enhancement
