Repository cisagov/cool-assessment-terraform, pull requests merged in 2020-05, with the labels that each got.

#34 Allow port ranges in lists of allowed inbound ports
  README.md
  locals.tf
  nessus_ec2.tf
  operations_acl_rules.tf
  operations_sg_rules.tf
  variables.tf
Labels: enhancement

#37 Remove teamserver from the EFS client security group
  teamserver_ec2.tf
Labels: bugfix

#36 Only create Nessus-related resources when necessary
  nessus_assume_role_policy_doc.tf
  nessus_cloud_init.tf
  nessus_ec2.tf
  nessus_iam.tf
  nessus_parameterstorereadonly_policy.tf
  nessus_parameterstorereadonly_role.tf
  operations_sg_rules.tf
Labels: enhancement

#38 Allow Operations subnet ingress on port 993 from Kali instances
  operations_sg_rules.tf
Labels: enhancement

#39 Elastic IPs and EFS for Teamservers
  provisionassessment_policy.tf
  teamserver_ec2.tf
  teamserver_iam.tf
Labels: enhancement

#41 Add lineage configuration.
  .github/lineage.yml
Labels: enhancement

#45 Add GoPhish instance(s)
  README.md
  cloud-init/efs-mount.tpl.yml
  cloud-init/gophish-dir-setup.tpl.yml
  gophish_cloud_init.tf
  gophish_ec2.tf
  gophish_iam.tf
  gophish_route53.tf
  teamserver_ec2.tf
  variables.tf
Labels: enhancement

#46 Configure environment for SSM Session Manager
  assume_role_policy_doc.tf
  desktop_gateway_sg_rules.tf
  gophish_iam.tf
  guacamole_iam.tf
  kali_iam.tf
  nessus_iam.tf
  outputs.tf
  private_acl_rules.tf
  provisionassessment_policy.tf
  run_shell_ssm_document.tf
  ssm_session_policy.tf
  ssm_session_role.tf
  teamserver_iam.tf
  variables.tf
Labels: enhancement, 🌶💩Hot Shit!

#49 Automatically define Guacamole connections for all Operations instances
  guacamole_cloud_init.tf
Labels: enhancement
