Repository cisagov/cool-assessment-terraform, pull requests merged in 2020-04, with the labels that each got.

#24 Fix EFS and new Transit Gateway code
  cloud-init/create-mount-point.tpl.sh
  cloud-init/efs-mount.tpl.yml
  efs.tf
  guacamole_route53.tf
  kali_cloud_init.tf
  kali_iam.tf
  locals.tf
  private_acl_rules.tf
  providers.tf
  provisionassessment_policy.tf
  remote_states.tf
  transitgateway.tf
Labels: bugfix

#25 Make private domain optional
  README.md
  locals.tf
  route53.tf
  variables.tf
  vpc.tf
Labels: enhancement

#26 Remove ephemeral ingress declarations from security groups
  desktop_gateway_sg_rules.tf
  operations_sg_rules.tf
Labels: bugfix, 🌶💩Hot Shit!

#28 Add new variable listing UDP ports to open
  README.md
  operations_acl_rules.tf
  operations_sg_rules.tf
  variables.tf
Labels: enhancement

#31 Add support for Nessus instances
  .github/CODEOWNERS
  README.md
  cloud-init/nessus-setup.sh
  locals.tf
  nessus_assume_role_policy_doc.tf
  nessus_cloud_init.tf
  nessus_ec2.tf
  nessus_iam.tf
  nessus_parameterstorereadonly_policy.tf
  nessus_parameterstorereadonly_role.tf
  nessus_route53.tf
  operations_sg_rules.tf
  variables.tf
Labels: enhancement

#32 Correctly handle undefined instance counts
  kali_ec2.tf
  kali_route53.tf
  nessus_cloud_init.tf
  nessus_ec2.tf
  nessus_route53.tf
Labels: bugfix
