Repository cisagov/cool-assessment-terraform, pull requests merged in 2021-11, with the labels that each got.

#149 Make necessary modifications to support guacscanner
  README.md
  cloud-init/render-guac-connection-sql-template.py
  cloud-init/write-guac-connection-sql-template.tpl.yml
  ec2_endpoint_sg.tf
  guacamole_cloud_init.tf
  guacamole_ec2.tf
  guacamole_iam.tf
  guacamole_sg.tf
  provisionassessment_policy.tf
  variables.tf
  vpc_endpoints.tf
Labels: breaking change, improvement

#151 Allow access from Guacamole to Windows instances over RDP
  README.md
  guacamole_sg.tf
Labels: bug

#152 Make the Terraformer instance type larger
  terraformer_ec2.tf
Labels: improvement
