Repository cisagov/cool-assessment-terraform, pull requests merged in 2021-05, with the labels that each got.

#117 Change Gophish instance type from t3.small to t3.medium
  gophish_ec2.tf
Labels: bug

#119 Make Gophish Docker data persistent
  cloud-init/copy-docker-data-to-new-root-dir.tpl.sh
  cloud-init/ebs-disk-setup.tpl.sh
  cloud-init/gophish-dir-setup.tpl.yml
  cloud-init/write-docker-daemon-json.tpl.yml
  gophish_cloud_init.tf
  gophish_ec2.tf
  gophish_iam.tf
  gophish_route53.tf
  locals.tf
  provisionassessment_policy.tf
Labels: improvement

#118 Add https-certificate blocks to Cobalt Strike C2 profiles
  README.md
  cloud-init/add-https-certificate-block-to-cs-profiles.tpl.sh
  cloud-init/install-certificates.py
  cloud-init/mount-efs-share.tpl.sh
  debiandesktop_iam.tf
  ec2_service_assume_role_policy.tf
  efs_mount_policy.tf
  gophish_iam.tf
  guacamole_cloud_init.tf
  guacamole_iam.tf
  kali_iam.tf
  nessus_iam.tf
  pentestportal_iam.tf
  ssm_session_role.tf
  sts_endpoint_sg.tf
  teamserver_cloud_init.tf
  teamserver_ec2.tf
  teamserver_iam.tf
  teamserver_sg.tf
  users_account_assume_role_policy.tf
Labels: documentation, improvement
