Repository cisagov/cool-assessment-terraform, pull requests merged in 2022-06, with the labels that each got.

#196 Modify sleep argument to remove units
  transitgateway.tf
Labels: improvement

#194 Fix reference to docker-compose in comment
  cloud-init/postfix-setup.tpl.yml
Labels: documentation

#190 Ensure that EBS volumes are destroyed correctly
  assessorportal_ec2.tf
  gophish_ec2.tf
Labels: improvement

#197 Inject a dependency of the session manager module on the corresponding policy
  provisionssmsessionmanager_policy.tf
  session_manager.tf
  variables.tf
Labels: bug

#199 Bump up size of pentestportal instances
  pentestportal_ec2.tf
Labels: bug
