Repository cisagov/cool-assessment-terraform, pull requests merged in 2022-01, with the labels that each got.

#160 Update the EFS access point configuration to resolve permissions issues
  README.md
  efs.tf
  variables.tf
Labels: bug, improvement

#163 Allow more access between Kali and Teamserver instances
  kali_sg.tf
  teamserver_sg.tf
Labels: improvement

#164 Require all email sending domains be lowercase
  README.md
  variables.tf
Labels: bug

#165 Give email-sending domain cert read role a unique name
  email_sending_domain_certreadrole.tf
Labels: improvement
