Repository cisagov/cool-assessment-terraform, pull requests merged in 2024-08, with the labels that each got.

#245 Add `cloudwatch:TagResource` permission to ProvisionAssessment policy
  provisionassessment_policy.tf
Labels: bug

#244 Move Debian Desktop, Samba, and Terraformer instances to Graviton
  assessorworkbench_ec2.tf
  debiandesktop_ec2.tf
  egressassess_ec2.tf
  gophish_ec2.tf
  guacamole_ec2.tf
  kali_ec2.tf
  nessus_ec2.tf
  pentestportal_ec2.tf
  samba_ec2.tf
  teamserver_ec2.tf
  terraformer_ec2.tf
  windows_ec2.tf
Labels: breaking change, improvement, terraform

#247 Open port 22 (SSH) internally between some instance types
  README.md
  gophish_sg.tf
  kali_sg.tf
  pentestportal_sg.tf
  teamserver_sg.tf
  terraform_apply.sh
Labels: improvement

#248 Run Nessus on Graviton instances
  nessus_ec2.tf
Labels: improvement, terraform
